body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    background: url(img/mario-bg.jpg);
    background-size: cover;
    /* background: url(img/monty-mole.png); */
    /* background: url(img/piranha-plant.png); */
}

#board {
    width: 540px;
    height: 540px;
    background: url(img/soil.png);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    border: 3px solid white;
    border-radius: 25px;
}

#board div {
    width: 180px;
    /* 540/3 3*3 */
    height: 180px;
    background: url(img/pipe.png);
    background-size: cover;
}


#board div img {
    width: 100px;
    height: 100px;

    /* become not dragable: */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* name */
.box {
    width: 150px;
    height: 150px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    /* border: 1px solid blue; */

    .last-icon {
        display: flex;
        flex-direction: column;

    }

    >div {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

        &:first-of-type {
            background-color: rgba(255, 255, 255, 0.368);
            border-radius: 87% 13% 49% 51% / 37% 53% 47% 63%;
            animation: anime2 infinite alternate 2s;
        }

        &:last-of-type {
            background-image: url(img/myimg.jpg);
            border-radius: 35% 65% 49% 51% / 73% 23% 77% 27%;
            background-size: cover;
            animation: anime1 infinite alternate 2s;

        }
    }
}

@keyframes anime1 {
    to {
        border-radius: 87% 13% 49% 51% / 37% 53% 47% 63%;
    }
}

@keyframes anime2 {
    to {
        border-radius: 35% 65% 49% 51% / 73% 23% 77% 27%;
    }
}